<!DOCTYPE html>
<html>
<head>
	<title>Custom Directive Assignment 2</title>
	<!-- Create 3 custom directives for a pop up and restrict the use of that directive as a
directive, comment, element, attribute. -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="myController.js"></script>
</head>
<body>
<body ng-app="myapp">
<div  ng-controller="myctrl"  >
	Name: <input ng-model="name" >
	Phone: <input ng-model="designation">
	<div ng-out></div>
	<br>
	<br>
	<ng-out1> </ng-out1>
	</div>

</body>
</html>